<h1>Welcome</h1>
<p>
	Welcome to Vesta.com. We are currently under construction but please check back with us soon. <br />
</p>

<p> 	P.S. Go Get Up, Up! coming to the iPhone App Store soon. </p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>